<h1> Your Profile </h1>

<p> <%= current_user.name %> | <%= current_user.email %> </p>

<% @user.posts.each do |p| %>
    
    <p><image src="<%= p.image_uri %>"></p>
    <p><%= p.vendor %></p>
    <p><%= p.vendor_loc %></p>
    <p><a href="/users/<%= current_user.id %>/posts/<%= p.id %>/edit">Edit Post</a></p>

<% end %>
        

<h6><a href="/users/<%= current_user.id %>/edit">Edit Profile</a></h6>

