<h1> Your Yums! </h1>

<p> <%= current_user.name %> | <%= current_user.email %> </p>

<% @user.posts.reverse_each do |p| %>
    
    <div class='image'>
        <% if p.image_uri.attached? %>
        <p class='img'><%= image_tag(p.thumbnail) %></p>
        <% end %>
        <p><%= p.vendor %></p>
        <p><%= p.vendor_loc %></p>
        <p><a href="/users/<%= current_user.id %>/posts/<%= p.id %>/edit">Edit Post</a></p>
    </div>

<% end %>



<h6><a href="/users/<%= current_user.id %>/edit">Edit Profile</a></h6>

<h4><a href="/users/<%= current_user.id %>/posts/new"> New Post </a></h4>


