<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<h1> TESTING!!! </h1>
<div class="post">
<% @user.posts.reverse_each do |p| %>
    <img src ="<%= p.image_uri %>">
    <p>Vendor: <%= p.vendor %></p>
    <p>Vendor Address: <%= p.vendor_loc %></p>
    <p><a href="/users/<%= current_user.id %>/posts/<%= p.id %>/edit">Edit Post</a></p>
<% end %>
</div>




<h3> TEST 2 </h3>