<div class="row admin_add_video">
  <div class="col-md-6 offset-md-3">
    <h1>Upload New Post</h1>
    <%= form_for(@post, url: user_posts_path(current_user.id)) do |p| %>  
      <div class="form-group">
        <%= p.label :image_uri, 'Image*' %>
        <%= p.file_field :image_uri, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= p.label :vendor, 'Vendor*' %>
        <%= p.text_field :vendor, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= p.label :vendor_loc, 'Vendor Address*' %>
        <%= p.text_field :vendor_loc, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= p.label :tag, 'Keyword*', class: 'col-md-4 control-label' %>
        <%= p.text_field :tag, class: 'form-control' %>
      </div>

      <%= p.submit 'Upload Post', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


