<!DOCTYPE html>
<html>
  <head>
    <title>HauteFood13V5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  
  
    <!-- BOOTSTRAP CDN -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->
  
    <!-- Fontawesome Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat" rel="stylesheet">
  
  </head>

  <body>
  <div class="container">
    <%= render 'partials/navbar' %>
    <div id='intro' class='view'>
      <div class='fullBGimg'>
      </div>
    </div
    <%= render 'partials/flash_msgs' %>

    <main style = 'height: 4000px'>
    </main>
  

    <%= yield %>
  </div>
  </body>
</html>
